.thc__ourTeam-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
    flex-wrap: wrap;
    margin: 5rem 0 2rem;
}


.thc__ourTeam-wrapper>h3 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    text-align: center;
}