.thc__ourgoals {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.thc__ourgoals-heading {
    flex: 1;
}

.thc__ourgoals-heading h2 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
}

.thc__ourgoals-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}


@media screen and (max-width:990px) {
    .thc__ourgoals {
        flex-direction: column;
    }

    .thc__ourgoals-heading h2 {
        text-align: center;
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width:550px) {
    .thc__ourgoals-heading h2 {
        font-size: 28px;
        line-height: 38px;
    }
}