.thc__pricing-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    color: white;
    gap: 50px;
}

.thc__pricing-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 1px solid #878787; */
    padding: 30px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 31px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 31px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 31px 6px rgba(0, 0, 0, 0.75);
}

.thc__pricing-header {
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #878787;
}

.thc__pricing-header .price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
}

.thc__pricing-header .price .discount {
    background-color: #fff;
    color: var(--color-subtext);
    border-radius: 50px;
    font-size: 12px;
    font-weight: 800;
    padding: 5px;
}

.thc__pricing-header .price div {
    display: flex;
    align-items: center;
}

.thc__pricing-header .price div:first-child {
    position: relative;
}

.thc__pricing-header .price div:first-child::after {
    content: '';
    background-color: white;
    height: 1px;
    width: 110%;
    position: absolute;
    top: 50%;
    left: 0;
}

.thc__pricing-header .price h3 {
    font-size: 2.5rem;
}

.thc__pricing-header p:first-child {
    font-size: 1.5rem;
}

.thc__pricing-features ul {
    list-style-type: none;
    padding: 30px;

}


.thc__pricing-features ul li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.join-link {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    color: var(--color-subtext);
    background-color: #fff;
}