.thc__profile {
    display: flex;
    max-width: 400px;
    height: 250px;
    background-color: var(--color-blog);
    padding: 1rem;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.thc__profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex: 1;
}

.thc__profile-header h3 {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}

.thc__profile-header p {
    color: var(--color-text);
    margin-top: 0.25rem;
}

.thc__profile img {
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    right: 30px;
    transform: translateY(50%);
    border: 8px solid var(--color-subtext);
}

.thc__profile-about {
    flex: 1;
}

.thc__profile-about p {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 20px;
    color: var(--color-text);
    text-align: justify;
}